################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ItrCalc/obj
/ItrCalc/bin/Debug
/packages
/.vs
